*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.pet-brands {
    background-color: #ffe0f0; 
    padding: 50px 0;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.brand-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
    margin-top: 90px;
}

.brand {
    background-color: #fff; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    text-align: center;
}

.brand img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.brand p {
    font-size: 14px;
    color: #666;
}

h1 {
    color: #ff6f8d; 
	text-shadow: 0px 0px 3px #ccccff, 0px 0px 5px #ccccff;
text-align: center;
font-family: Italic;
margin-bottom: 40px;
border:2px solid #ff6f8d;
padding:25px 20px;
background:#f8c8dc;
border-radius:20px;
box-shadow: 10px 15px 5px #cc3366;

}

.scroll-left {
	width: 100%;
	height: 100px;
	overflow: hidden;
	position: relative;
	background: #bda292;
	color: black;
	border: 1px solid white;
	font-size: 70px;
}

.scroll-left p {
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0;
	line-height: 100px;
	text-align: center;
	transform: translateX(100%);
	animation: scroll-left 10s linear infinite;
}

@keyframes scroll-left{

	0%{
	transform:translateX(100%);
	}
	100%{
	transform: translateX(-100%);
	}
}