@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');


*{
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    background-image: url(wallpaper.jpg);
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    font-family: "Gloria Hallelujah", sans-serif;
    height: 100%;
}


nav{
    background-color: rgb(234, 179, 188);
    box-shadow: 3px 3px 5px rgba(0,0,0,0.4);
}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li{
    height: 50px;

}

nav a, nav  img{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #453c3c;
    cursor: pointer;

    transition: background-color 0.5s;
}

nav img{
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10px;
}

nav a:hover{
    background-color: rgb(206, 161, 168);
    text-decoration: underline;
}

nav a:active{
    color: rgb(237, 185, 194);
    background-color: rgb(69, 60, 60);
}

nav li:first-child{
    margin-right: auto;
    font-weight: 800;
}

.logo{
    background-color: rgb(219, 152, 163);
}

.logo:hover{
    background-color: rgb(206, 161, 168);
    text-decoration: underline; 
}

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    backdrop-filter: blur(10px);
    background-color: rgb(206, 161, 168);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.2);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li{
    width: 100%;
}

.sidebar a{
    width: 100%;
}

@media(max-width: 800px){
    .hideOnMobile{
        display: none;
    }
}

@media(max-width: 400px){
    .sidebar{
        width: 100%;
    }

}
