*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer{
    position: absolute;
    width: 100%;
}

.container{
    max-width: 1170px;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;

}

ul{
    list-style: none;

}

.footer{
    background-color: rgb(234, 179, 188);
    padding: 70px 0;
}

.foot-col{
    width: 25%;
    padding: 0 15px;
}

.foot-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}

.foot-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #a796a5;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}