    
.rev-container {
    display: flex;
    justify-content: space-between;
	margin: 40px;
}

.rev-container img {
    width: 100%; 
    border: 2px solid #333;
    box-sizing: border-box; 
	border-radius: 5px;
	box-shadow: 0px 0px 10px #555;
}

.headtxt2{
	text-align:center;
	margin: 0 auto 0;
	position: relative;
	line-height: 60px;
	color: #ffffff;
	box-shadow: 10px 1px 10px rgb(219, 152, 163);
	background-color: rgb(219, 152, 163);
}

.headtxt2::after{
	content:'';
	background: #ffffff;
	width: 100%;
	height: 2px;
	border-radius: 5px;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	box-shadow: 10px 1px 10px #ffffff;
}