html, body {
    height: 100%;
    }

body, input, select { 
    padding: 0;
    margin: 0;
    outline: none;
    font-family: "Gloria Hallelujah", sans-serif;
    font-size: 16px;
    color: #eee;
    }
    h3 {
    font-weight: 400;
    }
    h1 {
    font-size: 50px;
    color: rgb(202, 87, 106);
    font-family: none;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 50px;
    text-decoration: underline;
    }
    h3 {
    color: rgb(170, 42, 63);
    }
    .main-block, .info {
    display: flex;
    flex-direction: column;
    }
    .main-block {
    justify-content: center;
    align-items: center;
    width: 100%; 
    min-height: 100%;
    background: url("/uploads/media/default/0001/01/e7a97bd9b2d25886cc7b9115de83b6b28b73b90b.jpeg") no-repeat center;
    background-size: cover;
    }
    form {
    width: 80%; 
    padding: 25px;
    margin-bottom: 20px;
    background: rgba(219, 133, 133, 0.9);
    box-shadow: 5px 5px 5px rgba(0,5,0,0.2);
    }
    input, select {
    padding: 5px;
    margin-bottom: 20px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #eee;
    }
    input::placeholder {
    color: #eee;
    }
    option {
    border: none;
    color: rgb(168, 115, 124);
    background-color: pink;
    }
    .metod {
    display: flex; 
    }
    input[type=radio] {
    display: none;
    }
    label.radio {
    position: relative;
    display: inline-block;
    margin-right: 20px;
    text-indent: 32px;
    cursor: pointer;
    }
    label.radio:before {
    content: "";
    position: absolute;
    top: -1px;
    left: 0;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    border: 2px solid #c91c67;
    }
    label.radio:after {
    content: "";
    position: absolute;
    width: 8px;
    height: 4px;
    top: 5px;
    left: 5px;
    border-bottom: 3px solid #c91c67;
    border-left: 3px solid #c91c67;
    transform: rotate(-45deg);
    opacity: 0;
    }
    input[type=radio]:checked + label:after {
    opacity: 1;
    }
    input.button {
    display: flex;
    justify-content: center;
    width: 100px;
    padding: 1px;
    margin: 20px auto 0;
    border: none;
    border-radius: 5px; 
    background: rgb(170, 42, 63); 
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    }
    input.button:hover {
    background: rgb(132, 33, 49);
    }
    @media (min-width: 568px) {
    .info {
    flex-flow: row wrap;
    justify-content: space-between;
    }
    input {
    width: 46%;
    }
    input.fname {
    width: 100%;
    }
    select {
    width: 48%;
    cursor: pointer;
    transition: background-color 0.5s;
    }
    select:hover {
        background-color: rgba(0, 0, 0, 0.2);
    }
    select:active {
        background-color: rgba(0, 0, 0, 0.571);
    }
    th {
        color: rgb(19, 18, 18);
        font-weight: bold;
    }
    .itemsServ {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .service-header1 {
        color: black;
        background-color: rgb(213, 136, 149);
        width: 50%;    
    }
    .service-header {
        color: black;
        background-color: rgb(213, 136, 149);
        width: 50%;    
    }
    .table-header {
        background-color: rgb(234, 179, 188);
        
    }
    .amt {
        width: auto;
        margin-right: 50px;
    }


}