body {color: black;
      background: #ffebf5;
	  font-size: 16pt;
	  background-image: linear-gradient(#ffebf5, #d19feb);
	  margin-bottom: 30px;
}
p {font-style: helvetica;
border:2px solid black;
padding:10px 40px;
width:800px;
background:white;
border-radius:25px;
text-align: center;
font-family: italic;
margin-bottom: 30px;
}

h1{border:2px solid black;
   padding:10px 40px;
background:#ff6aab;
border-radius:25px;
align-items: center;
box-shadow: 10px 15px 5px #cc3366;
margin-bottom: 30px;
margin-top: 30px;
	  }
	  
h1{ text-shadow: 0px 0px 3px #ccccff, 0px 0px 5px #ccccff;
text-align: center;
font-family: Italic;
margin-bottom: 30px;
}
	 
 h2{
border:2px solid black;
padding:10px 40px;
background:#ff3095;
width:360px;
border-radius:25px;
box-shadow: 5px 10px 3px #cc3366;
font-family: Italic;
margin-bottom: 30px;
}

.shop  {
	
margin-left: 290px;
margin-right: 50px;
text-align: center;

border: 2px 2px 2px #bd33a4;

}

.map { 

margin-right: 50px;
text-align: right;

border: 2px 2px 2px #bd33a4;
}

.dog{

margin-right: 50px;
text-align: right;

border: 2px 2px 2px #bd33a4;
}

.cat{
margin-right: 30px;
text-align: right;

border: 2px 2px 2px #bd33a4;
}

