/* styles.css */

/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic styles for the brands section */
.brands {
    background-color: #f7f7f7;
    padding: 50px 0;
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.brand-list {
    list-style: none;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.brand-list li {
    margin: 0 20px;
}

.brand-list img {
    max-width: 100px;
    height: auto;
}