html, body {
    height: 100%;
    }

body, input, select { 
    padding: 0;
    margin: 0;
    outline: none;
    font-family: "Gloria Hallelujah", sans-serif;
    font-size: 16px;
    color: #eee;
    }

div.main-block {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    width: 30%;
    margin-left: 550px;
    padding: 0px;
}

p {
    color: black;
    font-size: 30px;
    margin-bottom: 0px;
}

form {
    width: 80%; 
    padding: 25px;
    margin-bottom: 20px;
    background: rgba(255, 255, 255, 0.9);
    color: black;
    border: solid;
    border-width: 1px;
   box-shadow: 5px 5px 5px rgba(0,5,0,0.2);
}

input[type=submit] {
    color: black;
}

input[type=text] {
    color: #000;
}